{% if orders %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Quantity Ordered</th>
            <th scope="col">Price Each</th>
            <th scope="col">Status</th>
            <th scope="col">Ordered Date</th>
            <th scope="col">Shipped Date</th>
            <th scope="col">Delivery Date</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.customer_id }}</td>
                <td>{{ order.product_id }}</td>
                <td>{{ order.quantity_ordered }}</td>
                <td>{{ order.price_each }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.ordered_date }}</td>
                <td>{{ order.shipped_date }}</td>
                <td>{{ order.delivery_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No orders in database.</p>
{% endif %}